@CHARSET "UTF-8";
/*.top_nav .navbar .navbar-list {
    position: static;
}*/
#liveBody{
    background:#eaeaea url(../images/live/new/main-bg.png) repeat-y center bottom;
}
.ea-pc-down{
    display: block;
    width: 155px;
    padding-left: 45px;
    color: #fff;
}

.header_top{
    background: #d0234d;
}


.transfer-cont{
    background: url(../images/live/new/live-tranfer.png) no-repeat center top;
    background-size: 100% 100%;
}
.top_nav{
    background: #fff;

}
.top_nav.night{
    background: #98143b;
}
.header_top.night{
    background: #96344a;
    color: #fff;
}
.forgetpwd, .login_after li, .login_after li a{
    color: #fff;
}
.top_nav.night .navbar .navbar-list{
    color: #fff;
}
.top_nav .navbar .navbar-list:hover{
    border-bottom: 4px solid #d0234d;
    color: #d0234d;
}
.top_nav .navbar .navbar-list .triangle{
    border-bottom: 5px solid #d0234d;
}

.content-main-bg.night{
    background:#202747 url(../images/live/new/main-bg-night.jpg) repeat center top;
}

.footer-detail{
    height: 311px;
    padding-top: 35px;
    background: url(../images/live/new/footer-bg.png) no-repeat center top;
}
.footer-detail.night{
    background: url(../images/live/new/footer-bg-night.png) no-repeat center top;
}
