@charset "UTF-8";
.mui-divider {
    display: inline-block;
    width: 100%;
    background: #fff;
}

th {
    text-align: center;
}

/* 重置樣式 */
.mui-textfield > input, .mui-textfield > textarea {
    border: none;
}

.mui-col-xs32-4, .mui-col-xs48-4, .mui-col-xs64-4, .mui-col-lg-1, .mui-col-lg-10, .mui-col-lg-11, .mui-col-lg-12, .mui-col-lg-2, .mui-col-lg-3, .mui-col-lg-4, .mui-col-lg-5, .mui-col-lg-6, .mui-col-lg-7, .mui-col-lg-8, .mui-col-lg-9, .mui-col-md-1, .mui-col-md-10, .mui-col-md-11, .mui-col-md-12, .mui-col-md-2, .mui-col-md-3, .mui-col-md-4, .mui-col-md-5, .mui-col-md-6, .mui-col-md-7, .mui-col-md-8, .mui-col-md-9, .mui-col-sm-1, .mui-col-sm-10, .mui-col-sm-11, .mui-col-sm-12, .mui-col-sm-2, .mui-col-sm-3, .mui-col-sm-4, .mui-col-sm-5, .mui-col-sm-6, .mui-col-sm-7, .mui-col-sm-8, .mui-col-sm-9, .mui-col-xs-1, .mui-col-xs-10, .mui-col-xs-11, .mui-col-xs-12, .mui-col-xs-2, .mui-col-xs-3, .mui-col-xs-4, .mui-col-xs-5, .mui-col-xs-6, .mui-col-xs-7, .mui-col-xs-8, .mui-col-xs-9 {
    padding: 0px;
}

#mui-overlay {
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

#mui-overlay .mui-overlay-model {
    position: absolute;
    top: 50%;
    padding: 0;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%); /* IE 9 */
    -moz-transform: translate(0, -50%); /* Firefox */
    -webkit-transform: translate(0, -50%); /* Safari 和 Chrome */
    -o-transform: translate(0, -50%);
    box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22); /* IE 9 */
    -moz-box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22); /* Firefox */
    -webkit-box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22); /* Safari 和 Chrome */
    -o-box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
}

#mui-overlay .mui-overlay-model.top {
    top: 4em;
    /*padding-bottom: 4em;*/
    transform: none;
    -ms-transform: none; /* IE 9 */
    -moz-transform: none; /* Firefox */
    -webkit-transform: none; /* Safari 和 Chrome */
    -o-transform: none;
}

#mui-overlay .mui-overlay-model .mui-overlay-title {
    position: relative;
    padding: .5em;
    font-weight: 500;
    letter-spacing: 3px;
    background-color: #bb9a55;
    color: #fff;
}

#mui-overlay .mui-overlay-model .mui-overlay-title .mui-overlay-title-text {
    margin-right: 1em;
}

#mui-overlay .mui-overlay-model .mui-overlay-title .mui-overlay-close {
    position: absolute;
    top: .5em;
    right: .5em;
}

#mui-overlay .mui-overlay-model .mui-overlay-message {
    line-height: 1.8;
    font-size: 1em;
}

.mui-panel {
    margin-bottom: 0;
}

.mui-panel .mui-error-message {
    color: #F44336;
}

.mui-tabs__bar {
    text-align: center;
}

.mui-tabs__bar > li {
    position: relative;
    float: left;
}

.mui-tabs__bar > li.mui--is-active {
    border-bottom: 0;
}

/*.mui-tabs__bar > li:after{position: absolute; left: 0; right: 0; bottom: 1px; display: block; height: 3px; background: #e16d00; opacity: 0; content: ''; transform: scaleX(0.2); -ms-transform: scaleX(0.2); !* IE 9 *! -moz-transform: scaleX(0.2); !* Firefox *! -webkit-transform: scaleX(0.2); !* Safari 和 Chrome *! -o-transform: scaleX(0.2); transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}*/
/*.mui-tabs__bar > li.mui--is-active:after{opacity: 1; transform: scaleX(1); -ms-transform: scaleX(1); !* IE 9 *! -moz-transform: scaleX(1); !* Firefox *! -webkit-transform: scaleX(1); !* Safari 和 Chrome *! -o-transform: scaleX(1);}*/
.mui-tabs__bar > li.mui--is-active > a {
    color: #fd4746;
}

.mui-btn--orange {
    color: #FFF;
    background-color: #bb9a55;
    height: 50px;
    line-height: 50px;
    box-shadow: none;
}

.mui-btn--orange:hover,
.mui-btn--orange:focus,
.mui-btn--orange:active {
    color: #FFF;
    background-color: #fd4746;
}

.mui-btn--orange[disabled]:hover,
.mui-btn--orange[disabled]:focus,
.mui-btn--orange[disabled]:active {
    color: #FFF;
    background-color: #fd4746;
}

.mui-btn--orange.mui-btn--flat {
    color: #fd4746;
    background-color: transparent;
}

.mui-btn--orange.mui-btn--flat:hover,
.mui-btn--orange.mui-btn--flat:focus,
.mui-btn--orange.mui-btn--flat:active {
    color: #fd4746;
    background-color: #f2f2f2;
}

.mui-btn--orange.mui-btn--flat[disabled]:hover,
.mui-btn--orange.mui-btn--flat[disabled]:focus,
.mui-btn--orange.mui-btn--flat[disabled]:active {
    color: #fd4746;
    background-color: transparent;
}

.mui-btn--orange > .mui-ripple-effect {
    background-color: #FFF;
}

.mui-btn--pink {
    color: #FFF;
    background-color: #ff5555;
    box-shadow: none;
}

.mui-btn--pink:hover,
.mui-btn--pink:focus,
.mui-btn--pink:active {
    color: #FFF;
    background-color: rgba(255, 85, 85, 0.7);
}

.mui-btn--pink[disabled]:hover,
.mui-btn--pink[disabled]:focus,
.mui-btn--pink[disabled]:active {
    color: #FFF;
    background-color: #ff5555;
}

.mui-btn--pink.mui-btn--flat {
    color: #ff5555;
    background-color: transparent;
}

.mui-btn--pink.mui-btn--flat:hover,
.mui-btn--pink.mui-btn--flat:focus,
.mui-btn--pink.mui-btn--flat:active {
    color: #ff5555;
    background-color: rgba(255, 85, 85, 0.7);
}

.mui-btn--pink.mui-btn--flat[disabled]:hover,
.mui-btn--pink.mui-btn--flat[disabled]:focus,
.mui-btn--pink.mui-btn--flat[disabled]:active {
    color: #ff5555;
    background-color: transparent;
}

.mui-btn--pink > .mui-ripple-effect {
    background-color: #FFF;
}

.mui-buttons {
    display: inline-block;
    width: 100%;
    margin-bottom: .5em;
    text-align: center;
}

.mui-buttons.right {
    text-align: right;
}

.mui-buttons.left {
    text-align: left;
}

.mui-btn.block {
    display: block;
}

.mui-btn.left {
    float: left;
}

.mui-btn.right {
    float: right;
}

.mui-btn.right + .mui-btn.right {
    margin-right: 8px;
}

.mui-btn.small {
    padding: 0 6px;
}

.mui-btn--fab {
    z-index: auto;
}

.mui-checkbox {
    font-size: 80%;
}

.mui-textfield label {
    color: rgba(0, 0, 0, .8);
}

.mui-textfield > textarea {
    border-color: #989898;
}

.mui-textfield .mui-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.mui-textfield .message {
    font-size: 80%;
}

.mui-textfield.date-select > .date-icon {
    position: absolute;
    padding: 10px;
    right: 0;
    top: 20px;
}

.mui-textfield--float-label label {
    color: #888888;
}

.mui-textfield--float-label > input:focus ~ label,
.mui-textfield--float-label > textarea:focus ~ label {
    font-size: 80%;
    line-height: 150%;
    color: #fd4746;
}

.mui-textfield--float-label > input:required ~ label:before {
    content: "*";
    color: #f00;
    margin-right: .5em;
}

.mui-textfield--float-label.error input {
    border-color: #F44336;
    border-width: 2px;
}

.mui-textfield--float-label.error .message {
    color: #F44336;
}

.mui-textfield--float-label > img {
    position: absolute;
    height: 2.5em;
    top: 0;
    right: 0;
}

.mui-textfield--float-label .message {
    font-size: 80%;
}

.mui-textfield--float-label > input:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label {
    font-size: 80%;
    line-height: 150%;
    color: #fd4746;
}

/*.mui-textfield > input:disabled, .mui-textfield > input:read-only, .mui-textfield > textarea:disabled, .mui-textfield > textarea:read-only{color: #000; border-bottom: 1px solid #C3C3C3;}*/
.mui-textfield > input:disabled ~ label, .mui-textfield > input:read-only ~ label, .mui-textfield > textarea:disabled ~ label, .mui-textfield > textarea:read-only ~ label {
    color: #787876;
}

.mui-select {
    font-size: 100%;
}

.mui-select > select {
    background: transparent;
    border-bottom: none;
}

.mui-select label {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, .8);
    font-size: 80%;
    font-weight: 400;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mui-select .message {
    font-size: 80%;
}

.mui-tabs__bar a {
    font-size: 16px !important;
}

#transfer-source-credit, #transfer-target-credit {
    color: rgba(0, 0, 0, .4);
}

.mui-border-radius {
    border-radius: 15px;
}

.mui-textfield, .mui-select {
    padding: 0px;
    margin: 0px;
}

.mui-btn {
    height: 35px;
    line-height: 35px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 1em;
}

.mui-textfield > input, .mui-textfield > textarea, .mui-select > select {
    color: #787876;
    font-size: 1em;
    height: 30px !important;
    line-height: 30px !important;
}

#mui-overlay .mui-panel {
    font-size: 1em;
}

.mui-message {
    line-height: 1.4;
}

.mui-btn--fab, .mui-btn--raised {
    box-shadow: none;
}

#mui-overlay .mui-overlay-model{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
